body {
  background-color: #262626 !important;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
}

header {
  color: #FFA500;
  padding: 1em;
}

header h1 {
  color: #FFA500;
}

header a[href$="GIS-Blog"] {
  color: #FFA500 !important;
}


/*Blog post block style START*/
.blog-post {
  margin: 1em;
  padding: 1em;
  border: 1px solid #FFA500;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-post a {
  color: #FFFFFF;
  text-decoration: none;
}

.blog-post img {
  max-width: 200px;
  max-height: 200px;
}

.blog-post-description {
  margin-left: 1em;
  flex-grow: 1;
}

.blog-post-description h2 {
  margin: 0;
  font-size: 1.2em;
}

.blog-post-description p {
  margin: 0.5em 0;
  font-size: 0.8em;
}

/*Blog post block style END*/

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1em;
  text-decoration: underline;
}

nav li a {
  color: #FFFFFF;
  text-decoration: none;
}

a {
  color: #FFFFFF;
}


main {
  padding: 1em;
}

footer {
  color: #FFA500;
  padding: 1em;
  text-align: center;
}
