<!-- 
Colour examples: Light Grey: #2f2f2f, grey: #262626 dark grey: #222222 orange: #FFA500
-->
body {
  background-color: #262626 !important;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
}

header {
  background-color: #222222;
  color: #FFA500;
  padding: 1em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1em;
}

nav li a {
  color: #FFFFFF;
  text-decoration: none;
}

main {
  padding: 1em;
}

footer {
  color: #FFA500;
  padding: 1em;
  text-align: center;
}
